

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <button class="card-title btn btn-success">Tạo phiếu nhập</button>

            <div class="card-tools">
                
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-border">
                <thead>
                    <tr>
                        <th style="width: 10%">
                            Mã Phiếu
                        </th>
                        <th style="width: 20%">
                            Bên Giao
                        </th>
                        <th style="width: 25%">
                            Địa Chỉ
                        </th>
                        <th>
                            Ngày Giao
                        </th>
                        <th style="width: 20%" class="text-center">
                            Người Nhận
                        </th>
                        <th style="width: 15%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            gf
                        </td>
                        <td>
                            hehe
                        </td>
                        <td >
                            gf
                        </td>
                        <td >
                            df
                        </td>
                        <td>
                            <a class="btn btn-primary">Chi Tiết</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
