<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng | CP Glasses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
        integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header class="container">
        <a href="">
            <img class="logo" src="../images/logo/logo.png" alt=""> </a>
        <div class="menu">
            <div class="rong">

            </div>
            <ul>
                <li><a href="home.html">Trang chủ</a></li>
                <li class="active" id="products"><a href="products.html">Sản phẩm</a>
                    <ul class="menu_con">
                        <li><a href="">Kính cận</a></li>
                        <li><a href="">Kính râm</a></li>
                        <li><a href="">Kính chính hãng</a></li>
                        <li><a href="">Kính áp tròng</a></li>
                    </ul>
                </li>
                <li><a href="">Sale</a></li>
                <li><a href="">Kiến thức</a></li>
                <li><a href="">Liên hệ</a></li>

                <!-- GET: Thường dùng cho tìm kiếm...:đẩy value lên URL  ; POST: dùng cho đăng nhập, đăng ký: bảo mật -->
            </ul>
            <div class="search">
                <form action="" method="">
                    <input class="key_word" type="text" placeholder="Tìm kiếm">
                    <button type="submit" class="search_function"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="right_function">
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
        </div>
    </header>
    <main>
        <div class="page_banner">
            <div class="page_title">
                <h1>Giỏ hàng</h1>
                <ol class="bread_crumb">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giỏ hàng</a></li>
                </ol>
            </div>
        </div>

        <section class="wizard-section">
            <div class="row no-gutters">
                <div class="">
                    <div class="form-wizard">
                        <!-- <form action="" method="post" role="form"> -->
                        <div class="form-wizard-header">
                            <ul class="list-unstyled form-wizard-steps clearfix">
                                <li class="active"><span><i class="bi bi-basket"></i></span></li>
                                <li><span><i class="bi bi-person-check"></i></span></li>
                                <li><span><i class="bi bi-check-lg"></i></span></li>
                                <!-- <li><span>4</span></li> -->
                            </ul>
                        </div>
                        <fieldset class="wizard-fieldset show">
                            <div class="container">
                                <div class="row">
                                    <div class="list-item col-lg-9">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Sản phẩm</th>
                                                    <th>Giá</th>
                                                    <th>Số lượng</th>
                                                    <th>Thành tiền</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr class="cart_item " id="item2">

                                                    </tr> -->
                                                <tr class="cart_item">
                                                    <td class="cart_item_img">
                                                        <a href="product_detail.html"><img
                                                                src="../images/glasses/glass4.jpg" alt=""></a>
                                                    </td>
                                                    <td class="cart_item_name">
                                                        <div class="glass_name">
                                                            <a href="product_detail.html">Kính râm Linemai K304</a>
                                                        </div>
                                                    </td>
                                                    <td class="cart_item_price">
                                                        650.000 VND
                                                    </td>
                                                    <td class="cart_item_quantity">
                                                        <div class="quantity-icon-action">
                                                            <i onclick="minusQuantity1()" class="fa-solid fa-minus"></i>
                                                            <span class="quantity-number" id="quantity-number">1</span>
                                                            <i onclick="plusQuantity1()" class="fa-solid fa-plus"></i>
                                                        </div>
                                                    </td>
                                                    <td id="cart_item_total">
                                                        650.000 VND
                                                    </td>
                                                    <td class="delete_cart_item">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </td>
                                                </tr>
                                                <tr class="cart_item">
                                                    <td class="cart_item_img">
                                                        <a href="product_detail.html"><img
                                                                src="../images/glasses/glass6.jpg" alt=""></a>
                                                    </td>
                                                    <td class="cart_item_name">
                                                        <div class="glass_name">
                                                            <a href="product_detail.html">Kính râm Linemai K304</a>
                                                        </div>
                                                    </td>
                                                    <td class="cart_item_price">
                                                        1050.000 VND
                                                    </td>
                                                    <td class="cart_item_quantity">
                                                        <div class="quantity-icon-action">
                                                            <i onclick="minusQuantity2()" class="fa-solid fa-minus"></i>
                                                            <span class="quantity-number" id="quantity-number">1</span>
                                                            <i onclick="plusQuantity2()" class="fa-solid fa-plus"></i>
                                                        </div>
                                                    </td>
                                                    <td id="cart_item_total">
                                                        1050.000 VND
                                                    </td>
                                                    <td class="delete_cart_item">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </td>
                                                </tr>
                                                <!-- <script>
                                                        var arr_price = [850000, 650000, 1050000];
                                                        var sl = Number(document.getElementById('quantity-number').textContent);

                                                        var gia = new Intl.NumberFormat('it-IT', { style: 'currency', currency: 'VND' }).format((arr_price[0]));
                                                        console.log(gia);
                                                        var thanhTien = new Intl.NumberFormat('it-IT', { style: 'currency', currency: 'VND' }).format((850000 * sl));

                                                        document.getElementById('item2').innerHTML = '<td class="cart_item_img">' +
                                                            '<a href="product_detail.html"><img src="../images/glasses/glass1.jpg" alt=""></a>' +
                                                            '</td>' +
                                                            '<td class="cart_item_name">' +
                                                            '<div class="glass_name">' +
                                                            '<a href="product_detail.html">Kính râm Linemai K304</a>' +
                                                            '</div>' +
                                                            '</td>' +
                                                            '<td class="cart_item_price">' +
                                                            gia +
                                                            '</td>' +
                                                            '<td class="cart_item_quantity"> ' +
                                                            '<div class="quantity-icon-action">' +
                                                            '<i onclick="minusQuantity()" class="fa-solid fa-minus"></i>' +
                                                            '<span class="quantity-number" id="quantity-number">1</span>' +
                                                            '<i onclick="plusQuantity()" class="fa-solid fa-plus"></i>' +
                                                            '</div>' +
                                                            '</td>' +
                                                            '<td id="cart_item_total">' + thanhTien +
                                                            '</td>' +
                                                            '<td class="delete_cart_item">' +
                                                            '<i class="fa-solid fa-trash-can"></i>' +
                                                            '</td>';
                                                        // console.log(x);


                                                        function minusQuantity() {
                                                            if (sl > 1) {
                                                                document.getElementById('quantity-number').innerHTML = (--sl);
                                                                var x = new Intl.NumberFormat('it-IT', { style: 'currency', currency: 'VND' }).format((850000 * sl));
                                                                document.getElementById('cart_item_total').innerHTML = x;
                                                            }
                                                        }
                                                        function plusQuantity() {
                                                            document.getElementById('quantity-number').innerHTML = (++sl);
                                                            var x = new Intl.NumberFormat('it-IT', { style: 'currency', currency: 'VND' }).format((850000 * sl));
                                                            document.getElementById('cart_item_total').innerHTML = x;
                                                        }
                                                    </script> -->
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="total-price col-lg-3">
                                        <p>
                                            <span>Tạm tính</span>
                                            <span class="cart-price">4.250.000 VND</span>
                                        </p>
                                        <p>
                                            <span>Giảm giá</span>
                                            <span class="cart-price">0 VND</span>
                                        </p>
                                        <p>
                                            <span>Thành tiền</span>
                                            <span class="cart-price" style="color: #ff871d;">4.250.000 VND</span>
                                        </p>
                                    </div>
                                </div>

                                <!-- <div class="form-group clearfix">

                                    <a href="products.html" class="form-wizard-previous-btn float-left">Tiếp tục mua
                                        hàng</a>
                                    <a href="javascript:;" class="form-wizard-next-btn float-right">Thanh toán</a>
                                </div> -->
                            </div>

                            <div class="container">
                                <div class="col-8 ">
                                    <h5>Thông tin người nhận</h5>
                                    <form action="" method="post">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="fullName-receiver"
                                                name="fullName-receiver" placeholder="Họ và tên" required autofocus>
                                            <span id="message-error"></span>
                                            <label for="fullName-receiver">Tên người nhận</label>
                                        </div>

                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="phone-receiver"
                                                name="phone-receiver" placeholder="Số điện thoại">
                                            <label for="phone-receiver">Số điện thoại</label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="address-receiver"
                                                name="address-receiver" placeholder="Địa chỉ">
                                            <label for="address-receiver">Địa chỉ</label>
                                        </div>
                                        <div class="form-floating">
                                            <textarea name="" id="" cols="100" rows="5" class="form-control"
                                                placeholder="Ghi chú" id="note-receiver"
                                                name="note-receiver"></textarea>
                                            <label for="note-receiver">Ghi chú</label>
                                        </div>
                                        <div class="form-group clearfix">
                                            <a href="javascript:;" class="form-wizard-previous-btn float-left">Quay
                                                lại</a>
                                            <button type="submit" onclick="check()"
                                                class="form-wizard-next-btn float-right">
                                                Thanh toán</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <script>
                                function check() {
                                    var pattern = /^[a-z_]{3,20}$/i;
                                    var fullname = document.getElementById('fullName-receiver').value;
                                    if (pattern.test(fullname)) {
                                        alert('Lỗi');
                                    }
                                }
                            </script>
                    </div>
                    <fieldset class="wizard-fieldset">

                    </fieldset>
                    <fieldset class="wizard-fieldset thanks">
                        <h5>Bank Information</h5>
                        <div class="form-group">
                            <input type="text" class="form-control wizard-required" id="bname">
                            <label for="bname" class="wizard-form-text-label">Bank Name*</label>
                            <div class="wizard-form-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control wizard-required" id="brname">
                            <label for="brname" class="wizard-form-text-label">Branch Name*</label>
                            <div class="wizard-form-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control wizard-required" id="acname">
                            <label for="acname" class="wizard-form-text-label">Account Name*</label>
                            <div class="wizard-form-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control wizard-required" id="acon">
                            <label for="acon" class="wizard-form-text-label">Account Number*</label>
                            <div class="wizard-form-error"></div>
                        </div> -->
                        <div class="container">
                            <div class="form-group clearfix">
                                <a href="javascript:;" class="form-wizard-previous-btn float-left">Previous</a>
                                <a href="javascript:;" class="form-wizard-next-btn float-right">Next</a>
                            </div>
                        </div> -->
                        <div class="container">
                            <img src="../images/logo/thank_you.png" alt="">
                            <h2>Cảm ơn bạn khi đã lựa chọn và tin tưởng sản phẩm của CP Glasses</h2>
                            <h4>Chúc bạn có một ngày vui vẻ</h4>
                        </div>
                    </fieldset>
                    <!-- <fieldset class="wizard-fieldset">
                                <h5>Payment Information</h5>
                                <div class="form-group">
                                    Payment Type
                                    <div class="wizard-form-radio">
                                        <input name="radio-name" id="mastercard" type="radio">
                                        <label for="mastercard">Master Card</label>
                                    </div>
                                    <div class="wizard-form-radio">
                                        <input name="radio-name" id="visacard" type="radio">
                                        <label for="visacard">Visa Card</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control wizard-required" id="honame">
                                    <label for="honame" class="wizard-form-text-label">Holder Name*</label>
                                    <div class="wizard-form-error"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control wizard-required" id="cardname">
                                            <label for="cardname" class="wizard-form-text-label">Card Number*</label>
                                            <div class="wizard-form-error"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control wizard-required" id="cvc">
                                            <label for="cvc" class="wizard-form-text-label">CVC*</label>
                                            <div class="wizard-form-error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">Expiry Date</div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                        
                                </div>
                                <div class="form-group clearfix">
                                    <a href="javascript:;" class="form-wizard-previous-btn float-left">Previous</a>
                                    <a href="javascript:;" class="form-wizard-submit float-right">Submit</a>
                                </div>
                            </fieldset> -->
                    </form>
                </div>
            </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container infor">
            <div class="details">
                <h3>Trợ Giúp & Thông Tin
                </h3>
                <ul>
                    <li>Địa chỉ: Số 176, Đường Quang Trung, Hà Đông, Hà Nội</li>
                    <li>Điện thoại: +84 968209396</li>
                    <li>Email: cp_glasses@gmail.com</li>
                    <li>www.facebook.com/giftshowhanoi</li>
                </ul>

            </div>
            <div class="details">
                <h3>Các thương hiệu nổi bật
                </h3>
                <ul>
                    <li><a href="">Gucci</a></li>
                    <li><a href="">Dior</a></li>
                    <li><a href="">Chorme Heart</a></li>
                    <li><a href="">Chanel</a></li>
                    <li><a href="">Bubbery</a></li>
                </ul>

            </div>
            <div class="details">
                <h3>Hệ thống cửa hàng
                </h3>
                <ul>
                    <li><a href="">164 Tôn Đức Thắng – Đống Đa HN</a> </li>
                    <li><a href="">38 Nguyễn Khang – Cầu Giấy HN</a> </li>
                    <li><a href="">298 Nguyễn Trãi – Hà Đông HN</a> </li>
                    <li><a href="">805 Lê Hồng Phong – Q.10 HCM</a> </li>
                    <li><a href="">399 – 401 Lê Văn Sỹ – Q.Tân Bình HCM</a> </li>
                </ul>

            </div>

            <div class="details">
                <h3>Địa chỉ
                </h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8334970122846!2d105.77121431478464!3d21.039347192793077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c9ca620493%3A0x56beef4adf761a25!2zM2EgTmfDtSA2NSBNYWkgROG7i2NoLCBNYWkgROG7i2NoLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1658339939027!5m2!1svi!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="support">
            <a href=""><img src="../images/logo/messenger_14.png" alt=""></a>
            <a href=""><img src="../images/logo/zalo_16.png" alt=""></a>
        </div>

        <div class="author">
            Thiết kế 2022 © CP Glasses
        </div>
        <div id="scroll_top">
            <a href="#top" onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>



    <!-- <footer></footer>
      <div data-id="tu_1">ABCD</div> -->
    <!-- <script>
        // function thankYou() {
        //     const myTimeout = setTimeout(a,1000);
        //     function a() {
        //         alert("Đặt hàng thành công");
        //     }
        // }
        jQuery(document).ready(function () {
            // click on next button
            jQuery('.form-wizard-next-btn').click(function () {
                var parentFieldset = jQuery(this).parents('.wizard-fieldset');
                var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
                var next = jQuery(this);
                var nextWizardStep = true;
                parentFieldset.find('.wizard-required').each(function () {
                    var thisValue = jQuery(this).val();

                    if (thisValue == "") {
                        jQuery(this).siblings(".wizard-form-error").slideDown();
                        nextWizardStep = false;
                    }
                    else {
                        jQuery(this).siblings(".wizard-form-error").slideUp();
                    }
                });
                if (nextWizardStep) {
                    next.parents('.wizard-fieldset').removeClass("show", "400");
                    currentActiveStep.removeClass('active').addClass('activated').next().addClass('active', "400");
                    next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass("show", "400");
                    jQuery(document).find('.wizard-fieldset').each(function () {
                        if (jQuery(this).hasClass('show')) {
                            var formAtrr = jQuery(this).attr('data-tab-content');
                            jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
                                if (jQuery(this).attr('data-attr') == formAtrr) {
                                    jQuery(this).addClass('active');
                                    var innerWidth = jQuery(this).innerWidth();
                                    var position = jQuery(this).position();
                                    jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
                                } else {
                                    jQuery(this).removeClass('active');
                                }
                            });
                        }
                    });
                }
            });
            //click on previous button
            jQuery('.form-wizard-previous-btn').click(function () {
                var counter = parseInt(jQuery(".wizard-counter").text());;
                var prev = jQuery(this);
                var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
                prev.parents('.wizard-fieldset').removeClass("show", "400");
                prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass("show", "400");
                currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active', "400");
                jQuery(document).find('.wizard-fieldset').each(function () {
                    if (jQuery(this).hasClass('show')) {
                        var formAtrr = jQuery(this).attr('data-tab-content');
                        jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
                            if (jQuery(this).attr('data-attr') == formAtrr) {
                                jQuery(this).addClass('active');
                                var innerWidth = jQuery(this).innerWidth();
                                var position = jQuery(this).position();
                                jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
                            } else {
                                jQuery(this).removeClass('active');
                            }
                        });
                    }
                });
            });
            //click on form submit button
            // jQuery(document).on("click", ".form-wizard .form-wizard-submit", function () {
            //     var parentFieldset = jQuery(this).parents('.wizard-fieldset');
            //     var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
            //     parentFieldset.find('.wizard-required').each(function () {
            //         var thisValue = jQuery(this).val();
            //         if (thisValue == "") {
            //             jQuery(this).siblings(".wizard-form-error").slideDown();
            //         }
            //         else {
            //             jQuery(this).siblings(".wizard-form-error").slideUp();
            //         }
            //     });
            // });
            // focus on input field check empty or not
            // jQuery(".form-control").on('focus', function () {
            //     var tmpThis = jQuery(this).val();
            //     if (tmpThis == '') {
            //         jQuery(this).parent().addClass("focus-input");
            //     }
            //     else if (tmpThis != '') {
            //         jQuery(this).parent().addClass("focus-input");
            //     }
            // }).on('blur', function () {
            //     var tmpThis = jQuery(this).val();
            //     if (tmpThis == '') {
            //         jQuery(this).parent().removeClass("focus-input");
            //         jQuery(this).siblings('.wizard-form-error').slideDown("3000");
            //     }
            //     else if (tmpThis != '') {
            //         jQuery(this).parent().addClass("focus-input");
            //         jQuery(this).siblings('.wizard-form-error').slideUp("3000");
            //     }
            // });
        });

    </script> -->
</body>

</html>