@{
    ViewData["Title"] = "Danh sách ảnh";
}

@model IEnumerable<MyProject.ViewModel.MediasDTO>

<div class="card shadow mb-4 p-4">
    <form>
        <div class="form-group">
            <input type="hidden" class="form-control-file" id="Id" value="@ViewBag.Id"/>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Chọn ảnh</label>
            <input type="file" class="form-control-file" id="File" onchange="loadFile(event)" required />
        </div>
        <div id="display-image">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary upload">Upload</button>
        </div>
    </form>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        @foreach (var item in Model)
         {
            <tr>
                <td>
                    <img src="~/img/@item.Name" width="200px">
                </td>
                <td style="min-width: 150px">
                    <a data-id="@item.Id" class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
         }                        
    </table>
</div>

@section Scripts{
    <script>
        var loadFile = function (event) {
            var displayElement = document.getElementById('display-image');
            displayElement.innerHTML = '<img id="output" class="img-rounded" alt="Ảnh" width="180" height="200"/>';
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        $(document).ready(function (){
            $(".upload").click(function(){
                var files = $('#File').prop("files");

                var formData = new FormData();
                formData.append("ProductId", $("#Id").val());
                formData.append("File", files[0]);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpLoadImage", "Product", "Admin")',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.result == true) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Thêm mới ảnh sản phẩm thành công!',
                                showConfirmButton: false,
                                timer: 2500
                            });
                            setTimeout(() => location.href = '/admin/Product/Image/?id=' + '@ViewBag.Id', 3000);
                        }
                        else {
                            alert("Lỗi!");
                        }
                    }
                })
            })
        })
    </script>
}