@model MyProject.Web.Controllers.InputModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <form action="/manager" method="post">
                                <div class="text-center">
                                    <h3 class="mb-5">Đăng nhập quản trị</h3>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-outline mb-4 ">
                                    <label class="form-label" for="typeEmailX-2">Tên đăng nhập</label>
                                    <input asp-for="UserName" type="text" class="form-control form-control-lg" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4 text-left">
                                    <label class="form-label" for="typePasswordX-2">Mật khẩu</label>
                                    <input asp-for="Password" type="password" class="form-control form-control-lg" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <!-- Checkbox -->

                                <div class="text-center">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng nhập vào hệ thống</button>
                                </div>
                            </form>
                            
                            <hr class="my-4">

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>